.header {
  text-align: center;
  border-bottom: 1px solid goldenrod;
  background-color: #282c34;
  color: white;
  height: 5vh;
  color: goldenrod;
  text-shadow: 1px 2px 2px black;
}

.bank-header {
  padding: 0.5em;
  border-bottom: 1px solid white;
}

.app-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #282c34;
}

.App {
  text-align: center;
  min-height: 75vh;
  min-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid black;
  padding: 1vw;
  width: 15vw;
}

.space {
  margin-bottom: 2em;
}

.equip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 40vw;
  margin: 0.25em;
  padding: 0.25em;
  border: 0.5px solid gray;
}

.skill-screen {
  width: 15vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-left: 1px solid black;
  padding: 1vw;
  color: white;
}

.console {
  border-top: 1px solid goldenrod;
  height: 20vh;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.console-box {
  border: 1px solid black;
  padding: 1em;
  height: 80%;
  width: 80%;
}

.exp {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.row {
  display: flex;
  justify-content: flex-start;
  width: 45%;
}

.pbars {
  width: 45vw;
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.skill {
  display: flex;
  justify-content: space-between;
}

.sm {
  margin-left: -0.5vw;
}

.progress-bar {
  --bs-progress-bar-color: black;
  --bs-progress-bar-transition: width 0.2s ease;
}

.progress-bar-skill {
  width: 50%;
  margin-top: 0.5vh;
  color: black;
  text-align: center;
  margin-right: -0.5em;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.tree {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.save {
  position: fixed;
  right: 0;
  margin-right: 4vw;
}

small.save {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 2.25vw;
  margin-bottom: 5vh;
}

.craft-container {
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.basic-multi-select {
  color: black;
  min-width: 200px;
  margin-bottom: 2vh;
  margin-top: 1em;
  box-shadow: 2px 3px 0.5em black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border-left: 0.5px solid black;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}

.slot {
  min-height: 115px;
  width: 115px;
  border-right: 0.5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bank-row {
  display: flex;
}

.bank-text {
  font-size: medium;
  flex-wrap: wrap;
  padding: 0.25em;
}

.btn-div {
  margin-top: -1.25em;
}

.equip-btn {
  appearance: none;
  background: none;
  font-size: 16px;
  padding-left: 6px;
  padding-right: 6px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(0, 76, 182);
  padding-bottom: 2px;
  cursor: pointer;
  background-color: rgba(116, 85, 177, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
  margin-right: 0.25em;
  margin-left: 0.25em;
  margin-bottom: 0.5em;
}

.equip-btn:hover,
.equip-btn:focus {
  border: 2px solid rgba(0, 76, 182, 0.4);
}

.equip-btn:active {
  background-color: rgba(0, 76, 182, 0.2);
}

.battle-screen {
  display: flex;
  justify-content: space-around;
}

.left, .right {
  width: 40%;
}

.battle-pbar {
  margin-bottom: 0.5em;
}